/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #fff;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 13px;
    }
    a.ui-state-hover, a.ui-state-active, a.ui-state-focus {
      background-color: #FFFCB2;
    }
  }
} 

.ui-helper-hidden-accessible {
display: none;
}

.username{
  padding-top: 20px;
font-size: 20px;
font-weight: bold;
padding-bottom: 20px;

}

.post{
position: relative;
bottom:10px;
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}
.user_info {
display: inline-block;
text-align: center;
width: 244px;
padding-top: 2px;
padding-bottom: 2px;
border: dotted 1px black;
height: 162px;
margin-right: 10px;
float:right;
}
.status{
padding-bottom: 20px;
font-size: 16px;
font-weight: italic;
}
.privacy_settings{
float:right;
position:absolute;
top:6px;
right:10px;
}

.posts{
  padding-left: 20px;
  position: relative;
  top:-20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: dotted 1px black;
}
.navigation_tabs{
  font-style: bold;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.comment_panel{
  border:dotted 1px black;
  width:741px;
  padding-top: 30px;
  background-color: #fafdff;
  padding-bottom: 30px;
}

.comment_block {
  padding-bottom: 30px;
}
.post_creation {
  border:solid 1px black;
  padding-left: 10px;
  width:728px;
  background-color: #fafdff;
padding-top: 20px;
padding-bottom: 30px;
margin-bottom: 50px;
}

.information{
display: inline-block;
float: left;
}