// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.commentator_name{

  font-style: italic;
  font-weight: bold;
  float: right;
  font-size: 10px;
}
.commentator {
display: inline-block;
  border-radius: 5px;
  min-height :30px; 
  width:560px;
  border:  1px dotted #e0eacc;
  background-color:#f6fbff;
  padding-left:10px;
  padding-top: 10px;
  margin-bottom:20px;
}
.name, .retweet, .shared_user {
display: inline-block;
font-style:bold-italic;
font-size:12px;

}
.name {
font-weight:bold;
font-size:18px;
padding-right:5px;
padding-left:5px;
}

.retweet{
position: relative;
float: right;
top: -17px;
right: 56px;

}

.shared_user {
  
}
.comment_page {

  border: 3px solid #B9BA8;
  background-color: #f6fbff;
  padding-left: 10px;
  padding-right: 10px;

}
.comment_separator{
  position:absolute;
  left:300px;
  padding-bottom:5px;
  margin-top:-20px;
}
.add_comments{
  width:560px;
  padding-top:10px;
}
.comments{
  margin-top: 20px;
  border-top: dotted 1px black;
  padding-left: 30px;
  width:800px;
}

.create_post,.post {
  display: inline-block;
}
.post {
position:relative;
top:16px;
right:51px;

}